<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>wBwPp-wpvfhbNGC80oiLUpdz8VMG2WwPHAs6_Z6chrA</string>
	<key>API_URL</key>
	<string>https://api.unsplash.com/photos/</string>
</dict>
</plist>
